.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  margin: 5px;
  width: 200px!important;
  height: auto;
  line-height: 115px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.resize_fit_center {
  max-width:100%; 
  max-height:100%; 
  vertical-align: middle;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  background-color: #9C65F9;
}

.logo {
  justify-content: flex-start;
  display: flex;
}



